<div id="mainContent">
    @await Html.PartialAsync("_IndexPartial")
</div>

<script>
    // تحميل الصفحة بالـ AJAX عند الضغط على links في الـ sidebar
    function loadPage(url) {
        fetch(url, { headers: { "X-Requested-With": "XMLHttpRequest" } })
            .then(res => res.text())
            .then(html => {
                document.getElementById("mainContent").innerHTML = html;
            });
    }
</script>
